header
{	
	margin:auto;
	text-align:center;

}

<style>
      body {
       padding-top: 500px;
      }

html{
		background-image:url(fond.jpg);
		background-repeat:no-repeat;
}
	  
h1{
	text-align:center;
	padding-top:2%;
}	    
	  
h2{
	text-align:center;
	padding-top:2%;
}

.cadre{
	text-align:center;
}

.form_col {
        display: inline-block;
        width: 200px;
        text-align: right;
}

.form_etu{
	text-align:right; 
	margin-right:30%;
}

.form_etu2{
	text-align:right; 
	margin-right:30%;
}

table{
	padding:5%;
	padding-right:15%;
	border: 1px solid black;
	margin-left:25%;
	margin-right:15%;
}

table.table1{
margin: auto;
padding:5%; 
border: 1px solid black;
border-collapse: collapse; 
}


input {
    border: 1px solid #CCC;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.btn_v{
	float:right;
	margin-right:28%;
}

.btn_de{
	float:right;
	margin-right:47%;
}
	  
p{
	text-align:center;	  
}
fieldset{
	margin-left:15%;
	margin-right:15%;
	background-color:#CCC;
	border:1px solid navy;
}

.cadre{
	text-align:center;
}

p.warning{
	color:red;
}

.right{
	float:right;
	margin-right:38%;
}

p.gp{
	color:blue;
}

p.left{
	float:relative;
}

p.etu{
	float:relative;
	margin-right:40%;
}

.btn_de{
	float:relative;
	margin-right:47%;
}

.btn_decad{
	float:left;
	margin-left:47%;
}

.img{
	float:right;
}